@model OpenQbit.TrakingManagement.Common.Models.Driver

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPSLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPSLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dnic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dnic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TourID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResourceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
