@model IEnumerable<OpenQbit.TrakingManagement.Common.Models.Resource>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPSLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPSLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResourceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResourceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResourceID })
        </td>
    </tr>
}

</table>
