@model IEnumerable<OpenQbit.TrakingManagement.Common.Models.RootDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RootID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RootID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RootDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RootDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RootDetailID })
        </td>
    </tr>
}

</table>
