@model IEnumerable<OpenQbit.TrakingManagement.Common.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TourType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Root)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TourType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Root)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TourID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TourID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TourID })
        </td>
    </tr>
}

</table>
